app new html

<%= render "shared/navbar" %>

<div class="bg-main" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t4.ftcdn.net/jpg/04/09/70/87/360_F_409708782_HxuxOH8f7xSmj5p4ygbAbuJE74vGGj2N.jpg);">
<div class="container" data-controller="coin-sound">
  <div class="detail-card">
    <div class="box box-show" id="box-application">
      <span></span>
      <div class="box-detail">
        <div>
          <h1 class="text-center" style="line-height: 2.5"> <strong> Job Application for <br /></strong> <%= @job.title %></h1>
            <%= simple_form_for [@job, @application] do |f| %>
              <p><strong>Job Type:</strong> <%= @job._type %></p>
              <p><strong>First Name:</strong> <%= @user.firstName %></p>
              <p><strong>Last Name:</strong> <%= @user.lastName %></p>
              <%= f.input :cv, label: "CV", as: :file %>
              <%= f.input :coverLetter, label: "Cover Letter", as: :file %>
              <%= f.submit "Submit", class: "btn btn-success my-4 btn-link", style:"text-decoration:none; color:#f9fafc; font-weight:bold; margin-top:4px" %>
            <% end %>
        </div>

        <div>
          <%= link_to "Back to all Jobs", jobs_path, class: "btn btn-primary my-4", style:"text-shadow: 1px 1px #D217D9; text-decoration:none; color:#f9fafc; font-weight:bold; margin-top:4px" %>
        </div>
      </div>
    </div>
  </div>
</div>
