<%= render "shared/navbar" %>

<div class="bg-main" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t4.ftcdn.net/jpg/04/09/70/87/360_F_409708782_HxuxOH8f7xSmj5p4ygbAbuJE74vGGj2N.jpg); padding-top:150px; min-height: 120vh">
  <div class="container">
    <div class="detail-card">
      <div class="box box-show">
      <span></span>
        <div class="box-detail">
          <div class="pb-4">
            <%= cl_image_tag @application.employer.image.key, height: "40px" %>
          </div>
          <div class="line-hgt">
            <h2 class="pb-3">Application Summary</h2>
            <p>Name: <strong><%= "#{@application.user.firstName} #{@application.user.lastName}" %></strong></p>
            <p>Job: <strong><%= @application.job.title %></strong></p>
            <p>Company: <strong><%= @application.employer.companyName %></strong></p>
            <p>Location: <strong><%= @application.job.city %></strong></p>
            <p># of applicants: <strong><%= Application.where(job_id: @application.job.id).count %></strong></p>
          </div>
          <div class="d-flex justify-content-around align-items-center">
            <div class="pt-4 pb-4">
              <% if @application.cv.attached? %>
                <p>CV uploaded:</p>
                <%= cl_image_tag @application.cv.key, width: "200px", class: "pdf", format: "jpg" %>
              <% else %>
                <p class="txt-sm"><em>[No CV uploaded.]</em></p>
              <% end %>
            </div>
            <div class="pt-4 pb-4">
              <% if @application.coverLetter.attached? %>
                <p>Cover Letter uploaded:</p>
                <%= cl_image_tag @application.coverLetter.key, width: "200px", class: "pdf", format: "jpg" %>
              <% else %>
                <p class="txt-sm"><em>[No Cover Letter uploaded.]</em></p>
              <% end %>
            </div>
          </div>
          <div style="display: flex;justify-content: center;">
            <%= link_to "Dashboard", pages_path, style:"text-decoration:none; color:#f9fafc; font-weight:bold; margin-top:4px", class:"btn col-3 btn-secondary4" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
