<%= render "shared/main-navbar" %>

<div class="bg-main" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t4.ftcdn.net/jpg/04/09/70/87/360_F_409708782_HxuxOH8f7xSmj5p4ygbAbuJE74vGGj2N.jpg);">
  <div class="container">
    <div class="detail-card">
      <div class="box box-show">
      <span></span>
        <div class="box-detail">
          <div class="pb-4">
            <%= cl_image_tag @application.employer.image.key, height: "40px" %>
          </div>
          <h2>Application summary</h2>
          <h4>Name: <em><%= "#{@application.user.firstName} #{@application.user.lastName}" %></em></h4>
          <h4>Job: <em><%= @application.job.title %></em></h4>
          <h4>Company: <em><%= @application.employer.companyName %></em></h4>
          <h4>Location: <em><%= @application.job.city %></em></h4>
          <h4># of applicants: <em><%= Application.where(job_id: @application.job.id).count %></em></h4>
          <div class="pt-4 pb-4">
            <% if @application.cv.attached? %>
              <h4>CV uploaded:</h4>
              <%= cl_image_tag @application.cv.key, width: "200px", id: "cv" %>
            <% else %>
              <h4><em>[No CV uploaded.]</em></h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
