<h1>Application summary</h1>

<div class="bg-main" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t4.ftcdn.net/jpg/04/09/70/87/360_F_409708782_HxuxOH8f7xSmj5p4ygbAbuJE74vGGj2N.jpg);">
  <div class="container text-light">
    <p>Name: <em><%= "#{@application.user.firstName} #{@application.user.lastName}" %></em></p>
    <p>Job: <em><%= @application.job.title %></em></p>
    <p>Company: <em><%= @application.employer.companyName %></em></p>
    <p>Location: <em><%= @application.job.city %></em></p>
    <p># of applicants: <em><%= Application.where(job_id: @application.job.id).count %></em></p>
    <%= cl_image_tag @application.cv.key, width: "400px", id: "cv" %>
  </div>
</div>
