<%= render "shared/navbar" %>

<div class="bg-main" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t4.ftcdn.net/jpg/04/09/70/87/360_F_409708782_HxuxOH8f7xSmj5p4ygbAbuJE74vGGj2N.jpg);">
  <div class="container">
    <div class="row">
      <div class="card-product col-4">
        <img src="https://thumbs.gfycat.com/DopeyLegitimateGaur-max-1mb.gif" />
        <div class="card-product-infos">
          <h2>Search Results</h2>
          <p>Found <strong>30 Jobs</strong></p>
        </div>
      </div>


      <div class="col-8">
      <% @jobs.each do |job| %>
        <div class="box">
          <span></span>
          <div class="content">
            <div class="pb-4">
              <%= cl_image_tag job.employer.image.key, height: "40px" %>
            </div>
            <h4> <%= job.title %> at <%= job.employer.companyName  %> </h4>
            <p>
            <%= job.desc  %>
            <br>
            <div class="d-flex justify-content-between">
              <div>
                <%= job._type  %>: €<%=job.salary%>/year
                <img src="https://mario.wiki.gallery/images/9/91/PN_Spinning_Coin.gif" width="20px" />
                <br>
                <%= job.city  %> - <%=job.startDate.strftime("%m/%Y")%>
              </div>
              </p>
              <div class="btn col-3 btn-secondary4">
                <%= link_to "I'm interested", job_path(job), style:"text-decoration:none; color:#f9fafc; font-weight:bold; margin-top:4px" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
