<div class="hero" style="background-image: url(https://images.pexels.com/photos/7776881/pexels-photo-7776881.jpeg)">
<div class="bg-main" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t4.ftcdn.net/jpg/04/09/70/87/360_F_409708782_HxuxOH8f7xSmj5p4ygbAbuJE74vGGj2N.jpg); padding-top:50px">
  <div class="container">
  <h1 class="text-center mb-4">Available Jobs</h1>
    <div class="row">
      <div class="card-product col-4 text-light d-grid" >
        <div class="col">
          <img style="width: 100%" src="https://thumbs.gfycat.com/DopeyLegitimateGaur-max-1mb.gif" />
        </div>
        <div class="col card-product-infos" style="padding: 10px">
          <form action="#" method="POST">
            <fieldset>
            <legend>Results</legend>
            <p class="bg-dark py-2">Found <strong><%= pluralize(@jobs.size, "job") %></strong></p>
            </fieldset>
            <fieldset>
            <hr>
            <legend>Job types</legend>
              <div class="form-check bg-dark pt-1 pb-3">
                <p>
                  <input type="checkbox" id="fulltime" name="fulltime" value="Fulltime" class="form-check-input bg-secondary">
                  <label for="fulltime" class="form-check-label">Fulltime</label>
                </p>
                <p>
                  <input type="checkbox" id="parttime" name="parttime" value="Parttime" class="form-check-input bg-secondary">
                  <label for="parttime" class="form-check-label">Parttime</label>
                </p>
                <p>
                  <input type="checkbox" id="freelancer" name="freelancer" value="Freelancer" class="form-check-input bg-secondary">
                  <label for="freelancer" class="form-check-label">Freelancer</label>
                </p>
                <p>
                  <input type="checkbox" id="internship" name="internship" value="Internship" class="form-check-input bg-secondary">
                  <label for="internship" class="form-check-label">Internship</label>
                </p>
                <p>
                  <input type="checkbox" id="working-student" name="working student" value="Working Student" class="form-check-input bg-secondary">
                  <label for="working-student" class="form-check-label">Working Student</label>
                </p>
              </div>
            </fieldset>
            <hr>
            <fieldset>
            <legend>Job Category</legend>
              <div class="form-select bg-dark">
                <select id="skills" name="skills" class="form-control bg-secondary">
                  <option selected>Choose...</option>
                  <option>Sound</option>
                  <option>Arts</option>
                  <option>Coding</option>
                  <option>Sales</option>
                  <option>Product</option>
                </select></p>
              </div>
            </fieldset>
            <hr>
            <fieldset>
            <legend>Language</legend>
              <div class="form-select bg-dark">
                <select id="language" name="language" class="form-control bg-secondary">
                  <option selected>Choose...</option>
                  <option>English</option>
                  <option>German</option>
                  <option>Spanish</option>
                </select></p>
              </div>
            </fieldset>
            <hr>
            <fieldset>
              <div class="d-flex justify-content-center">
                <button type="Submit" class="btn btn-dark px-5">Filter</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>


      <div class="col-8">
      <% @jobs.each do |job| %>
        <div class="box">
          <span></span>
          <div class="content">
            <div class="pb-4">
              <%= cl_image_tag job.employer.image.key, height: "40px" %>
            </div>
            <h5> <%= job.title %> at <%= job.employer.companyName  %> </h5>
            <hr>
            <div id="show-more">
              <p> <%= job.desc %> </p>
            </div>
            <br>
            <div class="d-flex justify-content-between">
              <div style="font-weight: bold;">
                <%= job._type  %>: €<%=job.salary%>/year
                <img src="https://mario.wiki.gallery/images/9/91/PN_Spinning_Coin.gif" width="20px" />
                <br>
                <%= job.city  %> - Start Date: <%=job.startDate.strftime("%m/%Y")%>
              </div>
              </p>
              <div class="btn col-3 btn-secondary4">
                <%= link_to "I'm interested", job_path(job), style:"text-decoration:none; color:#f9fafc; font-weight:bold; margin-top:4px" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
