<%= render "shared/navbar" %>

<div class="bg-main main-padding" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t4.ftcdn.net/jpg/04/09/70/87/360_F_409708782_HxuxOH8f7xSmj5p4ygbAbuJE74vGGj2N.jpg);">
<div class="container">
  <div class="detail-card">
    <div class="box box-show">
      <span></span>
      <div class="box-detail">
        <div class="pb-4">
          <%= cl_image_tag @job.employer.image.key, height: "40px" %>
        </div>
        <h3><%= @job.title %> at <%= @job.employer.companyName  %></h3><br>

        <h4>Company Location</h4>
        <%= @job.employer.companyName %>
        <br>
        <%= @job.employer.street %>
        <br>
        <%= @job.employer.postcode %> <%= @job.employer.city %>
        <br><br>
        <h4>Start Date: <%= @job.startDate.strftime("%m/%Y")%></h4>
        <br>
        <h4>Job Description</h4>

        <%= @job.desc  %> <br> <br>

        <p>We thank you for your interest, however, only those candidates selected for an interview will be contacted. <strong>No agencies please.</strong></p>
        <br><br>
        <%= link_to "Apply", new_job_application_path(params[:id]), class:"btn col-3 btn-secondary1 text-light fw-bold" %>

      </div>
    </div>
  </div>
</div>
