<%= render "shared/navbar" %>

<div class="bg-main" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t4.ftcdn.net/jpg/04/09/70/87/360_F_409708782_HxuxOH8f7xSmj5p4ygbAbuJE74vGGj2N.jpg); padding-top:150px; min-height: 120vh;">
  <h1 class="text-center mb-5">Find exciting gaming events near you!</h1>
  <div id="create-event" class="text-center">
    <%= link_to "Create New Event", new_event_path, class: "btn btn-secondary2" %>
  </div>

  <div class="container d-flex" style="min-height:1000px;">
    <div class="container flex-row" id="show-more-events">
      <div class="col-6">
        <% @events.each do |event| %>
        <div class="box mb-2" style="width: 150%">
          <span></span>
          <div class="content">
            <h5><img src="https://acegif.com/wp-content/uploads/2022/fzk5d/76-open-close-mouth.gif" width="20px" />
            <%= event.title %> </h5>
            <hr>
            <div id="show-more-text">
              <p> <%= event.desc %> </p>
            </div>
            <br>
            <div class="d-flex justify-content-between">
              <div class="col-8" style="font-weight: bold; font-size: 14px;">
                <%= event.venue  %> - <%=event.address%>
                <br>
                <%= event.date.strftime("%A, %d %b %Y at %l:%M %p GMT")  %>
              </div>
              <div>
                <div>
                  <%= link_to "RSVP", event_attendees_path(event), data: { turbo_method: :post }, remote: true, style:"text-decoration:none; color:#f9fafc; font-weight:bold; width: 100%;", class:"btn btn-secondary1" %>
                </div>
                <p class="pt-2"><%=event.attendees.count %> attendees</p>
              </div>

            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="container flex-row">
      <div class="module-border-wrap">
        <div class="rounded" style="width: 100%; height: 800px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
