<%= render "shared/navbar" %>

<div class="bg-main" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t4.ftcdn.net/jpg/04/09/70/87/360_F_409708782_HxuxOH8f7xSmj5p4ygbAbuJE74vGGj2N.jpg); padding-top:150px; min-height:100vh;">
  <div class="container d-flex flew-row better-margin">
    <div class="col-4 ms-3">
      <div class="avatar-dash">
        <%= image_tag current_user.image %>
          <div class="exp" data-controller="progress-bar">
            <span class="xp" 
            data-progress-bar-target="xp"
            ></span>
          </div>
        </div>
      </div>
    <div class="col-8">
      <h1 class="text-center mb-4"><%= @user.firstName %>'s Profile </h1>
          <h1 class="text-center mb-4">LEVEL 1</h1>

      <div class="tabs justify-content-center">
        <div class="tab-2">
          <label for="tab2-1">Profile</label>
          <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
          <div class="tab-text">
            <h3 class="text-center pb-3">Main Description</h3>
              <p><%= @user.desc %></p>
          </div>
        </div>
        <div class="tab-2">
          <label for="tab2-2">Skills</label>
          <input id="tab2-2" name="tabs-two" type="radio">
          <div class="tab-text">
            <h3 class="text-center pb-3">Skills</h3>
            <h4 class="text-center pb-3">Category: <%= @user.category%></h4>
            <ul class="text-center pb-3 list-unstyled">
              <li><p><%= @user.skills[0]%></p></li>
              <li><p><%= @user.skills[1]%></p></li>
              <li><p><%= @user.skills[2]%></p></li>
              <li><p><%= @user.skills[3]%></p></li>
              <li><p><%= @user.skills[4]%></p></li>
              <li><p><%= @user.skills[5]%></p></li>
              <li><p><%= @user.skills[6]%></p></li>
            </ul>
          </div>
        </div>
        <div class="tab-2">
          <label for="tab2-3">Application</label>
          <input id="tab2-3" name="tabs-two" type="radio">
          <div class="tab-text">
            <h4 class="text-center mb-4">Application</h4>
            <div class="row justify-content-center" id="more-application">
              <% @applications.each do |application| %>
              <div class="box">
                <span></span>
                <div class="content d-flex flex-row" style="gap: 30px">
                  <div class="mt-1">
                    <%= cl_image_tag application.employer.image.key, width: "70%" %>
                    <p class="mt-2"> Application #<%= application.id %></p>
                  </div>
                  <div>
                    <h5> <%= application.job.title  %></h5>
                    <p> <%= application.job._type  %>: €<%=application.job.salary%>/year </p>
                    <p> You sent application on <%= application.created_at.strftime("%A, %d %b %Y at %l:%M %p GMT")  %></p>
                     Status: In Progress. Employer Reviewing.
                    <hr>
                    <p style="margin:0;"><%= link_to raw("<i class=\"fa-solid fa-trash-can\"></i>"), application_path(application), data: { turbo_method: :delete }, class:"trash-hover" %></p>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
